@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --color1-v1: #9D7E79;
    --color1-v2: #C6A9A4;
    --color1-v3: #DEC3BF;
    --color2-v1: #5B756C;
    --color2-v2: #889C95;
    --color2-v3: #C1CECA;
    --color3-v1: #9A947C;
    --color3-v2: #AFAB99;
    --color3-v3: #D3CEBF;
    --neutro1: #000000;
    --neutro2: #6D6D6D;
    --neutro3: #FFFFFF;
}

/* HEADER */
.part-1 li a {
    color: var(--neutro1);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    transition: all 500ms ease;
}
.part-2 li a {
    color: var(--neutro1);
    font-family: Quicksand;
    font-size: 19px;
    font-weight: bold;
    transition: all 500ms ease;
}

/*LOGO */
.logo span {
    color: var(--color2-v1);
    font-family: Merriweather;
    font-size: 37px;
    font-weight: bold;
}
.logo img {
    width: 84px;
    height: 84px;
}

/* SEARCH */
.input-box {
    position: relative;
    height: 46px;
    width: 100%;
}
.input-box i {
    position: absolute;
    top: 32%;
    left: 3%;
    font-size: 14px;
    color: var(--neutro2);
}
.input-box input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--neutro2);
    border-radius: 8px;
    padding-left: 40px;
}
.input-box ::placeholder {
    color: var(--neutro2);
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}

/* LOGIN */
.login-desktop i {
    color: var(--color2-v1);
    font-size: 25px;
    
}
.login-desktop button {
    border-radius: 10px;
    border: 1px solid var(--color2-v1);
    background: var(--color3-v3);
    color: var(--neutro2);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    transition: all 500ms ease;
    padding: 5px 40px;
}

/* NAV */
.banner-nav {
    background-color: var(--color1-v1);
}
.nav-items a {
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
    transition: all 500ms ease;
}
.nav-icons a {
    font-size: 22px;
    color: var(--neutro3);
}

/* PROMOTIONS TITLE */
.title-promotion span {
    color: var(--color2-v1);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: bold;
    padding: 10px;
    transition: all 500ms ease;
}
.title-promotion .line {
    margin-top: 38px;
    margin-left: 10px;
    height: 0.5px;
    width: 100%;
    background-color: var(--neutro2);
    transition: all 500ms ease;
}

/* CARDS - 1 */
.cards img {
    transition: 0.5s;
}
.promotion-cards button {
    transition: all 500ms ease;
    width: 100%;
    padding: 6px;
    background: var(--color2-v3);
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 600;
    text-decoration-line: underline;
    margin-bottom: 10px;
}
.promotion-cards h5 {
    color: var(--neutro1);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 500;
}
.promotion-cards p {
    color: var(--color3-v1);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
}
.promotion-cards p span {
    color: var(--neutro2);
    text-decoration-line: line-through;
}
.promotion-cards .card-oferta {
    width: 112px;
    padding: 5px;
    color: var(--neutro3);
    border-radius: 20px;
    background: var(--color1-v2);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.cards-oferta h5 {
    bottom: 50px;
}

.publicity h2 {
    color: var(--color2-v1);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 700;
}
.publicity a {
    width: 170px;
    border-radius: 25px;
    border: none;
    background: var(--color3-v2);
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    transition: all 500ms ease;
}

/* POPULAR */
.category-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.category-images img {
    padding: 30px;
    transition: 0.5s;
}

/* FOOTER */
footer {
    background-color: var(--color1-v1);
}
.logo-footer span {
    transition: all 500ms ease;
    color: var(--neutro3);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 700;
}
.contact {
    list-style-type: none;
}
.contact li {
    padding: 2px 0px;
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
}
.title-social-media {
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
}
.social-media-name {
    list-style-type: none;
}
.social-media-name li {
    padding-top: 9px;
}
.social-media-name li a {
    text-decoration: none;
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
    transition: all 500ms ease;
}
.social-media-name i {
    padding-right: 10px;
}
.links-title {
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
}
.links {
    list-style-type: none;
}
.links li {
    padding-top: 2px;
}
.links li a {
    transition: all 500ms ease;
    text-decoration: none;
    color: var(--neutro3);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.footer-name hr {
    margin: 5px 0px;
    color: var(--neutro3);
}

/* BOTON FLOTANTE */
.button {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.button .button-img {
    border-radius: 120px;
    background-color: var(--color2-v3);
    border: 3px solid var(--neutro2);
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    padding: 10px;
}
.button img {
    height: 30px;
    width: 30px;
}
.button .button-message {
    background-color: var(--color2-v3);
    color: #000;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    border: 3px solid var(--neutro2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    padding: 8px 15px;
}






/* Phone */
@media screen and (max-width: 767.98px){
    .logo span {
        font-size: 27px;
    }
    .logo img {
        width: 59px;
        height: 59px;
    }
    .mobile-links {
        padding-top: 12px;
    }
    .mobile-links a {
        color: var(--color2-v1);
        font-size: 18px;
    }
    .nav-icons a {
        font-size: 15px;
        padding: 0px 5px;
    }
    .nav-items a {
        font-size: 12px;
    }
    .title-promotion span {
        font-size: 21px;
        padding: 10px 0px;
    }
    .title-promotion .line {
        margin-top: 25px;
        height: 0.5px;
    }
    .card-3 {
        display: none;
    }
    .card-4 {
        display: none;
    }
    .promotion-cards button {
        font-size: 10px;
        height: 24px;
        margin-bottom: 7px;
        padding: 3px;
    }
    .promotion-cards img {
        padding: 20px 20px 0px;
    }
    .promotion-cards h5 {
        font-size: 12px;
        margin-bottom: 3px
    }
    .promotion-cards p {
        font-size: 10px;
    }
    .promotion-cards .card-oferta {
        font-size: 11px;
        width: 70px;
    }
    .product-3 {
        display: none;
    }
    .product-4 {
        display: none;
    }
    .category-images img {
        padding: 5px 13px 13px 13px;
    }
    .logo-footer span {
        font-size: 20px;
    }
    .logo-footer img {
        width: 40px;
        height: 40px;
    }
    .footer-icons a {
        color: var(--neutro3);
        padding: 0px 5px;
    }
    .footer-name img {
        height: 14px;
    }
    .button img {
        height: 21px;
        width: 21px;
    }
    .button .button-img {
        padding: 4px 6px 6px 6px;
    }
    .button .button-message {
        font-size: 10px;
        padding: 4px 10px;
    }
}





/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo span {
        font-size: 30px;
    }
    .logo img {
        width: 66px;
        height: 66px;
    }
    .tablet-part a {
        color: var(--color2-v1);
        font-size: 20px;
    }
    .nav-icons a {
        font-size: 18px;
        padding: 3px 10px;
    }
    .nav-title {
        color: var(--neutro3);
        font-family: Quicksand;
        font-weight: 500;
        font-size: 15px;
        padding-left: 50px;
    }
    .nav-items a {
        font-size: 14px;
    }
    .title-promotion span {
        font-size: 26px;
        padding: 10px 0px 10px 5px;
    }
    .title-promotion .line {
        margin-top: 28px;
        height: 0.5px;
    }
    .card-4 {
        display: none;
    }
    .promotion-cards button {
        font-size: 14px;
        margin-bottom: 7px;
        padding: 5px;
    }
    .promotion-cards img {
        padding: 40px 40px 0px;
    }
    
    .promotion-cards h5 {
        font-size: 14px;
    }
    .promotion-cards p {
        font-size: 13px;
    }
    .promotion-cards .card-oferta {
        font-size: 15px;
        width: 90px;
    }
    .product-4 {
        display: none;
    }
    .category-images img {
        padding: 20px;
    }
    .logo-footer span {
        font-size: 25px;
    }
    .logo-footer img {
        width: 60px;
        height: 60px;
    }
    .contact li {
        font-size: 14px;
    }
    .contact {
        padding-left: 35px;
    }
    .title-social-media {
        font-size: 16px;
        padding-top: 12px;
    }
    .social-media-name li a {
        font-size: 14px;
    }
    .links-title {
        font-size: 16px;
    }
    .links li a {
        font-size: 14px;
    }
    .footer-name img {
        height: 16px;
    }
    
    .button img {
        height: 25px;
        width: 25px;
    }
    .button .button-img {
        padding: 8px;
    }
    .button .button-message {
        font-size: 12px;
        padding: 6px 12px;
    }
}